

#dashboard {
    background: #e6eaeb;
    position: relative;
    font-size: 17px;
    font-family: "Montserrat";
}

#dashboard .container-box {
    float: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #EDF0F1;
    position: relative;
}

#dashboard div#title {
    color: #27333B;
    font-weight: 600;
    line-height: 50px;
    height: 50px;
    width: 100%;
    padding-right: 15px;
    background: #344563;
    position: absolute;
}

#dashboard .container-fluid {
    height: 95%;
}

#dashboard .container-fluid .info-graphic-row {
    height: 50%;
}

#dashboard .dashboard-row {
    height: 54%;
    padding: 0px;
    padding-top: 100px;
    margin: 0px;
}
.card-title {
    height: 11%;

    color: #5F6675;
    font-size: 13px;
    font-weight: normal;
    display: block;
    line-height: 13px;
    z-index: 1000;
    position: relative;
}
.card-container {
    height: 89%;
    background: #FFFFFF;
    position: relative;
}

.user .card-container {
    height: 89%;
}

.user .card-container#dashboardMap{
    display: block;
    height: 100%;
}


.cpu-container {
    background: #405054;

}

.gpu-container {
    background: #097099;

}

.ram-container {
    background: #2C3E50;

}

.mini-charts {
    margin: 0px;
}

.guru-score .title {
    color: #686E7C;

    font-size: 2.5vh;
    padding-top: 10%;
}

.guru-score .value {
    font-size: 6vh;
    padding-top: 8%;

}

.guru-score .chart {
    padding-top: 10%;

    height: 45%;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.card-container.guru-score {
    text-align: center;
    color: #2B3D44;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 9px;
}


.energy-chart {
    height: 60%;
    width: 70%;
    margin: 0 auto;
    padding-top: 11%;
}

.energy-info {
    position: absolute;
    text-align: center;
    font-size: 4.3vh;
    color: #707B87;
    bottom: 8px;
    margin: 0 auto;
    width: 100%;
}

.spec-chart .title {
    height: 15%;
    color: white;
    padding: 1px 10px;
    font-size: 14px;
    font-weight: bold;
}

.spec-chart .info{
    height: 40%;
    text-align: center;
}
.spec-chart .info .chart {
    height: 80px;
    /* display: block; */
    position: absolute;
    top: -15px;
    right: 40px;
}

.spec-chart .chart {
    height: 30%;
    display: block;
}

.spec-chart .value {
    color: #B0B7B8;

    font-size: 1.7vh;
}

.spec-chart .valueTitle {
    font-size: 1.7vh;

    color: #949A9B;
}

.row.specs {
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    left: 25px;
}

.spec-separator {
    border-right: 1px solid #303A3D;
}

.gpu-container .spec-separator{
    border-right: 1px solid #767B7C;
}

.ram-container .spec-separator{
    border-right: 1px solid #57636C;
}

.energy-info span.postfix {
    font-size: 2vh;
    color: #C0C8D0;
}

.energy-info .text {
    font-size: 2.5vh;
    color: #BFC4CE;
}

span.circular-chart-percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ie-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: white;
}
.login {
    height: 100%;
    float: right;
    line-height: 50px;
    color: white;
    font-size: 13px;
}
.login img{
    height: 30px;
    border-radius: 50px;
    left: -5px;
    position: relative;
}
.dashboard-row.bottom-part {
    padding-top: 20px !important;
    position: relative;
    height: 46% !important;
}

.logo img {
    height: 50px;
    padding: 0px 0px;
}

.link {
    color: white;
    font-size: 14px;
    padding: 0 15px;
    line-height: 50px;
    height: 100%;
    display: inline-block;
}
.link:hover {
    cursor: pointer;
}

.link.active {
    border-bottom: 5px solid #5EB7EF;
}
span .name {
    font-weight: normal;
}

.chart-info {
    height: 15%;
    font-size: 13px;
    color: white;
    font-weight: normal;
    padding-left: 14px;
}

.energy-chart div:first-child {
    margin: 0 auto !important;
    display: block !important;
}

.dashboard-row .spec-card {
    padding: 5px 8px;
}

#dashboardMap a.leaflet-control-zoom-in, a.leaflet-control-zoom-out,a.leaflet-control-zoom-in:hover, a.leaflet-control-zoom-out:hover {
    background: #74caa9;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 14px;
}

#dashboard a.leaflet-control-zoom-in:hover, #dashboard a.leaflet-control-zoom-out:hover {
    background: #4A7B68;
}

#dashboardMap .leaflet-control-zoom.leaflet-bar.leaflet-control {
    box-shadow: none;
}

#dashboardMap .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#dashboardMap .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: none;
}

#dashboardMap .leaflet-popup-tip-container {
    display: none;
}

#dashboardMap .leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.74);
    color: white;
    font-family: "Montserrat";
    box-shadow: none;
    border-radius: 3px;
}

#dashboardMap .leaflet-popup-content {
    line-height: 0px;
    margin: 8px 8px;
}

.user {
    margin: 0px;
    padding: 0px;
}


.card-title img {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

.link img {
    height: auto;
    position: relative;
    top: -2px;
}

.chart-info img {
    position: relative;
    top: -2px;
    padding-right: 3px;
}

span.links {
    position: relative;
    left: -5px;
}

.coming-soon {
    color: rgba(214, 214, 214, 1);
    font-size: 12px;
    font-weight: 100;
}

.computer-list {
    position: absolute;
    margin: 0 auto;
    top: 60px;
    text-align: center;
    font-size: 13px;
}

.computers img {
    position: relative;
    top: -20px;
    left: 50px;
}

span.computers {
    line-height: 55px;
}

span.computers:hover {
    cursor: pointer;
}

span.knob-chart {
    width: 100%;
    height: 100%;
    display: block;
}

.knob-chart div {
    top: 50%;
    transform: translate(0%, -50%);
    -webit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ie-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    position: relative;
    display: block !important;
    margin: 0 auto;
}

.knob-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ie-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

}

span.comming-soon {
    font-weight: 100;
    color: rgb(183, 182, 182);
    font-size: 12px;
    padding-left: 10px;
}

.guru-score span.comming-soon {
    position: relative;
    bottom: 40px;
    font-size: 16px;
}

@media screen and (max-width: 1184px) {
    .spec-chart .info .chart {
        transform: scale(0.7) translate(28px,0px);
        -webkit-transform: scale(0.7) translate(28px,0px);
        -moz-transform: scale(0.7) translate(28px,0px);
        -o-transform: scale(0.7) translate(28px,0px);
        -ie-transform: scale(0.7) translate(28px,0px);
    }
}
@media screen and (max-width: 950px) {
    .row.specs {
        left: 5px;
    }
}

@media screen and (max-width: 767px) {

    #dashboard .container-fluid {
        height: auto;
    }
    .user {
        min-height: 300px;
    }
    .user .card-container#dashboardMap {
        min-height: 300px;
    }

    #dashboard .container-box {
        overflow-x: hidden;
    }
    div[class*="col-sm"] {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .knob-chart div {
        top: 0;
        transform: translate(0%, 0%);
        -webit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ie-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
    }

    .full-height {
        height: inherit;
    }
    .card-container {
        height: inherit;
    }
    .dashboard-row.bottom-part {
        height: inherit !important;
    }


}

@media screen and (max-width: 600px) {

    span.link {
        font-size: 10px;
    }
}

@media screen and (max-width: 440px) {
    .link img {
        visibility: hidden;
    }
    span.link {
        font-size: 8px;
    }
}
