.infographic-container {
    /*background: linear-gradient( #654F73, #9696D4);*/
    background: #e6eaeb;
    position: relative;
    font-family: "Open Sans";
    font-size: 17px;
}
.infographic-container .container-box {
    float: none;
    width: 70%;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ie-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.infographic-container div#title {
    color: #3F98C8;
    font-weight: 600;
    line-height: 50px;
    height: 10%;
    padding: 0px 15px;
    background: #29344C;
}

.infographic-container .container-fluid {
    height: 91%;
}

.infographic-container .container-fluid .info-graphic-row {
    height: 50%;
}

.info-graphic-box {
    height: 100%;
}

.infographic-container #dashboard-link {
    float: right;
    color:white;
    font-weight: 300;
}

.infographic-container #dashboard-link:hover {
    cursor: pointer;
}

.infographic-container .plant {
    background: #52C3C0;

}

.infographic-container .energy {
    background: #124256;

}

.infographic-container .melting {
    background: #29344C;
    /* border-bottom-left-radius: 15px; */
}

.infographic-container .matter {
    background: #6C7A89;
    text-align: center;
}

.infographic-container .people {
    background: #AB81B6;
    /* border-bottom-right-radius: 15px; */
    text-align: center;
}

.infographic-container .plant .main {
    color: #EDF8F7;

    font-size: 20px;
    font-weight: 600;
}

.infographic-container .plant .value {
    color: #2A5B8D;

    font-size: 47px;
    font-weight: 300;
    display: block;
}

.infographic-container .plant .detail {
    color: #F7FCFB;

    font-size: 20px;  font-weight: 600;
}

.infographic-container .energy .main {
    color: #FFFFFF;

    font-size: 20px;  font-weight: 600;
}

.infographic-container .energy .value {
    color: #FCF602;
    display: block;
    font-size: 58px;  font-weight: 300;
}

.infographic-container .energy .postfix {
    color: #8899A2;

    font-size: 2.7vh;
}

.infographic-container .energy .detail {
    color: #F8F8F9;

    font-size: 18px;  font-weight: 600;
}
.infographic-container .melting .main {
    color: #FCFCFC;

    font-size: 22px;  font-weight: 600;
}

.infographic-container .melting .value {
    color: #68B0D1;

    font-size: 53px;  font-weight: 300;
    display: block;
}

.infographic-container .melting .postfix {
    color: #FCFCFC;

    font-size: 22px;
}

.infographic-container .melting .detail {
    color: #FCFCFC;

    font-size: 18px;  font-weight: 600;
}

.infographic-container .melting .detail2 {
    color: #68B0D1;

    font-size: 18px;  font-weight: 600;
}
.infographic-container .matter .main {
    color: #FCFCFC;

}

.infographic-container .matter .value {
    color: #F5CE19;

    font-size: 40px;
    display: block;
}

.infographic-container .matter .detail {
    color: #FCFCFC;

}

.infographic-container .matter .detail2 {
    color: #F5CE19;

}

.infographic-container .people .main {
    color: #FCFCFC;

}

.infographic-container .people .value {
    color: #2F3750;

    font-size: 40px;
    display: block;
}

.infographic-container .people .detail {
    color: #FCFCFC;

    font-weight: 100;
}

.infographic-container .people .detail2 {
    color: #2F3750;

}

.infographic-container .plant-container {
    display: block;
    vertical-align: middle;
}

.vertical-middle {
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ie-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    position: relative;
    display: block;
}

.odometer-value{
    font-family: "Open Sans";
}

.matter img, .people img {
    display: block;
    margin: 0 auto;
    padding: 10px 0px;
}

.matter span.postfix {
    color: white;
    font-size: 2vh;
    font-weight: 100;
}

#dashboard-link img {
    position: relative;
    top: -2px;
    right: -4px;
}

#title .glyphicon {
    position: relative;
    top: 3px;
    left: 3px;
}

.tooltipster-guru {
    /* border-radius: 5px; */
    /* border: 2px solid #000; */
    background: rgba(50, 50, 50, 0.9);
    color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.tooltipster-guru .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

.tooltipster-guru .tooltipster-arrow-top {
    display: none;
}

.energy-text {
    padding-left: 30px;
    padding-right: 30px;
}

.info-box {
    display: inline-block;
    background: url("../img/info.png");
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 3px;
}

@media screen and (max-width: 1235px) {
    .infographic-container {
        font-size: 13px;
    }
    .info-graphic-row.bottom {
        position: relative;
        top: -28px;
    }

    .infographic-container .energy .value {
        font-size: 7vh;
    }

    .infographic-container .plant .value {
        font-size: 6vh;
    }

    .infographic-container .melting .value {
        font-size: 6vh;
    }

    .infographic-container .people .value {
        font-size: 4vh;
    }

    .infographic-img {
        transform: scale(0.7);
        -ie-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
}


@media screen and (max-width: 957px) {
    span#dashboard-link {
        font-size: 11px;
    }

    .infographic-container div#title {
        font-size: 9px;
    }
    .infographic-container .energy .value {
        font-size: 6vh;
    }

    .infographic-container .plant .value {
        font-size: 5vh;
    }

    .infographic-container .melting .value {
        font-size: 5vh;
    }

    .infographic-container .people .value {
        font-size: 3vh;
    }

}

@media screen and (max-width: 840px) {

    .infographic-container .melting .value {
        font-size: 4vh;
    }
    .infographic-container .energy .value {
        font-size: 5vh;
    }

    .infographic-container .plant .value {
        font-size: 40px;
    }

    .infographic-container .melting .value {
        font-size: 5vh;
    }

    .infographic-container .people .value {
        font-size: 2vh;
    }
}

@media screen and (max-width: 770px) {
    .infographic-container .melting .value {
        font-size: 47px;
    }

    .infographic-container .container-box {
        width: 100%;
        transform: inherit;
        top: 0;
        height: inherit;
    }

    .infographic-container .matter .value {
        font-size: 57px;
    }

    .infographic-container .people .value {
        font-size: 53px;
    }

    .infographic-container .matter .main,.infographic-container .matter .detail, .infographic-container .matter .detail2,
    .infographic-container .people .main,.infographic-container .people .detail,.infographic-container .people .detail2,
    .infographic-container .melting .main,.infographic-container .melting .detail,.infographic-container .melting .detail2,
    .infographic-container .plant .main,.infographic-container .plant .detail{
        font-size: 25px;
    }

    .infographic-container .plant .value {
        font-size: 47px;
    }

    div[class*="col-sm"] {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .infographic-container div#title {
        font-size: 14px;
        line-height: 70px;
    }
}

@media screen and (max-width: 670px) {
    .infographic-container div#title {
        font-size: 12px;
    }
}