<div id="dashboard">
    <div class="container-box">
        <div id="title">
            <span class="logo">
                <img src="img/logo.png">
            </span>
                <span class="links">
                    <span class="link" ng-class="page == 'dashboard' ? 'active' : ''"><img src="img/dashboardic.png" data-at2x="img/dashboardic@2x.png" > Guru Dashboard</span>
                    <span class="link" ng-class="page == 'rank' ? 'active' : ''"><img src="img/globalrank.png" data-at2x="img/globalrank@2x.png" > Global Rank
                    <span class="coming-soon"> (Coming Soon)</span>
                    </span>
                </span>


            <span class="login">
                <img ng-show="userAvatar != null" src="{{userAvatar}}">
                <span class="name">{{name}}</span>
                <span class="surname">{{surname}}</span>

            </span>
        </div>
        <div class="computer-list full-width" ng-show="machineList.length>1">
            <span ng-repeat="computer in machineList" class="computers" ng-click="onSelectComputer(computer)"><img src="img/{{selectedComputer == computer ? 'active_' : ''}}computer.png">{{computer.name}}</span>
        </div>
        <div class="container-fluid">

            <div class="row  dashboard-row">
                <div class="container-fluid">
                    <div class="col-md-4 col-sm-4 full-height spec-card">
                        <div class="spec-chart cpu-container  full-height">
                            <div class="title">Global % CPU unused Live</div>
                            <div class="chart-info"><img src="img/cpu.png" data-at2x="img/cpu@2x.png">Unused CPU Usage</div>
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8 full-height">
                                        <div class="row specs">
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Processor</span>
                                                <div class="value">{{cpu.type}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Core</span>
                                                <div class="value">{{cpu.core}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                                <span class="valueTitle">Cpu Rate</span>
                                                <div class="value">
                                                    {{cpu.rate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                        <span class="chart" easypiechart percent="cpuPercent" options="cpuChartOptions">
                                                    <span class="circular-chart-percent">{{cpuPercent}}%</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <linechart ng-model="cpuUsageData" class="chart" color="#737C7F" valuekey="cpuPercent"></linechart>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 full-height spec-card">
                        <div class="spec-chart gpu-container  full-height">
                            <div class="title">Global % GPU usage Live</div>
                            <div class="chart-info"><img src="img/gpu.png" data-at2x="img/gpu@2x.png">Unused GPU Usage
                                <span ng-hide="isShowGPU" class="comming-soon">Coming Soon</span>
                            </div>
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8 full-height">
                                        <div class="row specs">
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Total</span>
                                                <div class="value">{{gpu.total}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Unused</span>
                                                <div class="value">{{gpu.unused}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                                <span class="valueTitle">Used</span>
                                                <div class="value">
                                                    {{gpu.used}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                        <span class="chart" easypiechart percent="gpuPercent" options="gpuChartOptions">
                                                <span class="circular-chart-percent">{{gpuPercent}}%</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <linechart ng-model="gpuUsageData" class="chart" color="#78CDEF" valuekey="unused"></linechart>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 full-height spec-card">
                        <div class="spec-chart ram-container  full-height">
                            <div class="title">Global % RAM unused live</div>
                            <div class="chart-info"><img src="img/ram.png" data-at2x="img/ram@2x.png">Unused RAM Usage</div>
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8 full-height">
                                        <div class="row specs">
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Total</span>
                                                <div class="value">{{ram.total}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height spec-separator">
                                                <span class="valueTitle">Unused</span>
                                                <div class="value">{{ram.unused}}</div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                                <span class="valueTitle">Used</span>
                                                <div class="value">
                                                    {{ram.used}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 full-height">
                                        <span class="chart" easypiechart percent="ramPercent" options="ramChartOptions">
                                                <span class="circular-chart-percent">{{ramPercent}}%</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <linechart ng-model="ramUsageData" class="chart" color="#57DDC3" valuekey="unused"></linechart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row dashboard-row bottom-part">
                    <div class="container-fluid">
                        <div class="row full-height mini-charts">
                            <div class="col-md-3 col-sm-3 full-height">
                                <span class="card-title"><img src="img/guruscore.png" data-at2x="img/guruscore@2x.png">Guru Score</span>
                                <div class="card-container guru-score">
                                    <div class="title">Calculated Guru Score</div>
                                    <div class="value odometer" ng-model="guruPoint" format="d">0</div>
                                    <linechart ng-model="guruPointData" class="chart" color="#d86ff1" renderer="line" valuekey="point"></linechart>
                                    <span ng-hide="isShowGuruPoint" class="comming-soon">Coming Soon</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 full-height">
                                <div class="col-md-6 col-sm-6 full-height">
                                    <span class="card-title"><img src="img/bulb.png" data-at2x="img/bulb@2x.png">Kw/h USED and WASTED</span>
                                    <div class="card-container">
                                        <span class="knob-chart">
                                            <input ng-model="energy.ratio" data-width="100" type="text" value="100" readonly data-displayInput=false class="knobchart" data-fgColor="#5996EA" data-angleOffset=-125 data-angleArc=250 data-thickness=.16>
                                        </span>
                                        <div class="energy-info">
                                            <span ng-hide="!isShowEnergy">
                                                <span class="value odometer" ng-model="energy.wasted" format="d">0</span>
                                                <span class="postfix">{{energy.postfix}}</span>
                                                 <div class="text">Wasted</div>
                                            </span>


                                            <span ng-show="!isShowEnergy" class="text">
                                                Coming Soon
                                            </span>
                                        </div>
                                        <span class="knob-icon"><img src="img/lightning.png"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 full-height">
                                    <span class="card-title"><img src="img/mouse.png" data-at2x="img/mouse@2x.png">Mouse Travelled</span>
                                    <div class="card-container">
                                         <span class="knob-chart">
                                            <input data-width="100" type="text" value="100" readonly data-displayInput=false class="knobchart" data-fgColor="#956CB0" data-angleOffset=-125 data-angleArc=250 data-thickness=.16>
                                         </span>
                                        <div class="energy-info">
                                            <span ng-show="isShowTravel">
                                                <span class="value odometer" ng-model="travel.distance" format="d">0</span>
                                                <span class="postfix">{{travel.postfix}}</span>
                                                <div class="text">Today</div>
                                            </span>
                                            <span ng-hide="isShowTravel" class="text">
                                                Coming Soon
                                            </span>

                                        </div>
                                        <span class="knob-icon"><img src="img/man.png"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 full-height  user">
                                <span class="card-title"><img src="img/userconnected.png" data-at2x="img/userconnected@2x.png">User Connected</span>
                                <div class="card-container">
                                    <dashboardmap id="dashboardMap" class="card-container" ng-model="position"/>
                                </div>

                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>